<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block title %} employee {% endblock %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap-3.4.1-dist/css/bootstrap-theme.min.css' %}">

{% block content %}
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
    <div style="margin: 5% 25%;">
        <form method="POST" class="form-group" action="/update_pos/" id = pos_update>
            <h2 class="text-center">Edit Position</h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning">{{message.tags}}: {{ message }}</div>
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            {{ pos_form.errors }}
            {{ pos_form.non_field_errors }}
            {{pos_form|crispy}}
            <button type="reset" class="btn btn-default pull-left">Reset</button>
            <button type="submit" class="btn btn-success pull-right">Update</button>
        </form>
    </div>
{% endblock %}
</html>